body {
    background-image: url("win_structure-pics/wwm-background.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 80px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

h1 {
    font-size: 70px;
    background: linear-gradient(to right, var(--bs-purple), var(--bs-gold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.box {
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.58);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    color: white;
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;

    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: linear-gradient(to right, #00b894, #d45bf7);
    color: black;
}

th:first-child {
    background: linear-gradient(to right, #16ffd4, #e372ec);
    color: black;
    font-weight: bold;
}

th:last-child {
    background: linear-gradient(to left, #16ffd4, #e372ec);
    color: black;
    font-weight: bold;
}


tr:first-child td {
    background-color: transparent;
    color: white;
}

.highlight-first-row td {
    background-color: transparent;
    color: white;
}

td {
    background-color: rgba(29, 29, 31, 0);
    color: white;
}


.highlight-first-row td {
    background-color: rgba(0, 255, 126, 0.5);
    color: black;
}
